/* General Styles */
body {
    font-family: "Tenor Sans", sans-serif;
    color: rgb(34, 34, 36);
}

.container {
    position: relative;
    text-align: center;
}

#hamburger-menu {
    display: hidden;
}

/* Landing Section */
#landingPart {
    display: grid;
    grid-template-columns: 27% 73%;
}

.landingPart-content {
    margin: 35% 2% 20%;
    text-align: start;
}

.landingPart-content-button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(34, 34, 36);
    color: #f8f8f8;
}
.landingPart-content-button:hover{
    transform: scale(1.5);
}

.landingPart-image {
    background-color: rgb(233, 232, 232);
}

.landingPart-content-title {
    font-weight: 300;
    font-size: 40px;
}

.landingPart-image img {
    height: 500px;
    margin: 15% 20% 0;
    width: 500px;
}

/* Navigation Bar */
nav {
    position: absolute;
    top: 8px;
}

.navigationBar {
    color: rgb(85, 84, 84);
    width: 150%;
    height: 30px;
    margin: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.en {
    font-size: 15px;
}

.navigationBar .navigationBar-links ul {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.navigationBar .navigationBar-links ul li {
    list-style: none;
}

.navigationBar-title {
    font-weight: 500;
    font-size: 20px;
}

.navigationBar .navigationBar-icons {
    color: grey;
    width: 240px;
   

}

.navigationBar .navigationBar-icons i {
    padding: 10px;
    float: right;
}

.navigationBar-endline {
    margin: 0 2%;
    width: 148%;
}

.hr {
    height: 1px;
    background-color: rgb(116, 115, 115);
    border: none;
}

/* New Products Section */
.newProducts-title {
    margin: 15% 30% 5%;
    font-weight: 200;
}

.newProducts-pics img {
    height: 200px;
    width: 250px;
}

#newProduct-pic {
    background-color: rgb(236, 234, 234);
    width: 290px;
}

.newProducts-pics {
    display: flex;
    justify-content: space-between;
}

.below-image-text {
    margin: 0% 5%;
}

.image-text {
    font-size: 20px;
    font-weight: 800;
}

.price-buy {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* Projects and Collection Section */
.projects-Collection {
    margin: 15% 0%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
    width: 95%;
}

.projects-Collection img {
    height: 500px;
    width: 100%;
}

.container1-text {
    position: absolute;
    top: 60%;
    left: 30%;
}

.container1-text h1 {
    font-size: 40px;
    font-weight: 200;
}

.container2-text {
    position: absolute;
    top: 25%;
    right: 20%;
}

.container2-text span {
    font-size: 30px;
    font-weight: 200;
}

/* Discount Section */
#discount {
    background-color: rgb(34, 34, 36);
    color: white;
}

.discount-title {
    padding-top: 5%;
    display: flex;
    margin: 10% 40% 0%;
}

.discount-title section {
    text-decoration: underline;
    padding: 0px 10px;
}

#discount h5 {
    margin: 2% 20% 5%;
    display: flex;
    padding-left: 8%;
}

#details {
    margin: 0% 28%;
    display: flex;
    width: 45%;
    height: 100px;
    justify-content: space-between;
}

#details section input {
    background-color: rgb(34, 34, 36);
    border-top: none;
    border-right: none;
}

#details section button {
    padding: 10px 40px;
    border-radius: 10px;
    border: 1px solid;
    background-color: rgb(34, 34, 36);
    color: white;
    border-color: rgb(206, 206, 206);
    margin-bottom: 5%;
}

/* Production Partners and Clients Section */
.production-partners-clients {
    margin: 15% 0% 0%;
    display: grid;
    grid-template-columns: auto auto;
}

.production-partners-clients-part1-image {
    width: 95%;
}

.production-partners-clients-part2 img {
    width: 100%;
    height: 295px;
}

.containerProduction-text {
    position: absolute;
    top: 25%;
    right: 35%;
}

.containerProduction-text-title {
    font-size: 30px;
    font-weight: 500;
}

.containerProduction-text-partners {
    position: absolute;
    top: 20%;
    right: 15%;
}

.containerProduction-text-clients {
    text-align: start;
    position: absolute;
    top: 10%;
    left: 15%;
}

/* Magazine Section */
.magazine {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.magazine-image img {
    width: 100%;
    height: 350px;
}

.magazine-content h1 {
    text-align: center;
}

.magazine-content h3 {
    text-align: end;
    padding-right: 30px;
}

/* Footer */
#footer-style {
    background-color: rgb(34, 34, 36);
    color: rgb(161, 158, 158);
    padding-bottom: 20px;
    margin-top: 5%;
}

.footer {
    display: grid;
    grid-template-columns: 30% 70%;
}

.footer-sandra {
    margin: 0% 20%;
}

.footer-sandra h3 {
    color: white;
}

.footer-sandra li {
    list-style: none;
    font-size: 16px;
    padding-bottom: 10px;
}

.icpf {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.icpf h4 {
    color: white;
}

.icpf section li {
    list-style: none;
    font-size: 16px;
    padding-bottom: 10px;
}

/* Link Styles */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Copyright Section */
.copyright {
    display: flex;
    justify-content: space-between;
    margin: 0% 15%;
    font-size: 12px;
    text-align: center;
}

.copyright-line {
    margin: 2% 5%;
}
.navigationBar .navigationBar-icons i:hover{
    color: white;
}
.magazine-content-B{
    display: none;
}

/* media queries */

@media (min-width: 320px) and (max-width:700px) {
    .navigationBar {
        width: 165%;
       

    }

    .navigationBar-links {
        display: none;
    }

    .navigationBar .navigationBar-icons {
        color: grey;
        width: 100px;
    
    }

    .navigationBar .navigationBar-icons i {
        padding: 2px;
    }
    .navigationBar .navigationBar-icons i:hover{
        color: white;
    }
    .navigationBar-endline {
        margin: 0 0%;
        width: 169%;
    }
    
   



    #landingPart {
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(233, 232, 232);


    }

   
    .landingPart-image {
        display: none;
    }

    .newProducts-title {
        margin: 10% 0% 5%;
        font-weight: 200;
    }

    .newProducts-pics {
        max-width: 284px;
        margin-left: 30px;
        overflow: scroll;


    }

    #newProduct-pic {
        padding-left: 30px;
        border-left: 2px solid gray;

    }

    .projects-Collection {
        display: flex;
        flex-direction: column;

    }

    .projects-Collection .container img {
        width: 100%;
    }

    .discount-title {
        padding-top: 5%;
        display: flex;
        margin: 10% 15% 0%;
    }

    #details {
        margin: 0% 25%;
        display: flex;
        flex-direction: column;
        height: 100px;

    }

    .production-partners-clients {
        margin: 15% 0% 0%;
        display: flex;
        flex-direction: column;

    }

    .production-partners-clients-part1-image {
        width: 100%;
    }

    .magazine-content {
        display: none;
    }

    .magazine {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
    }

    .magazine-image {
        position: relative;
        text-align: center;
        filter: brightness(60%);
    }

    .magazine-content-B {
        position: absolute;
        left: 10px;
        color: rgb(235, 234, 234);
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer-sandra {
        margin-left: 15px;
    }

    .icpf {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0% 1%;
        font-size: 12px;
        text-align: center;
    }
    .magazine-content{
        display: none;
    }


}
@media (min-width: 701px) and (max-width:1100px) {
 
    .navigationBar {
        width: 98%;
        justify-content:space-evenly;
        align-items: center;
        
    }
    body{
      max-width: 1280px;
    }
   

    .navigationBar-endline {
        margin: 2% 0%;
        width: 100%;
    }
    .newProducts-pics {
        max-width: 1200px;
        margin-left: 0px;
        overflow: scroll;

    }
    .discount-title {
        padding-top: 5%;
        display: flex;
        margin: 10% 40% 0%;
    }
    #details {
        margin: 0% 30%;
    }
    #discount-text{
        margin-left: 0%;
       
      
    }
    .magazine-content{
        display: none;
    }
    .magazine {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
    }

    .magazine-image {
        position: relative;
        text-align: center;
        filter: brightness(60%);
    }

    .magazine-content-B {
        position: absolute;
        left: 50px;
        color: rgb(235, 234, 234);
        font-size: 30px;
    }
    .par{
        font-size: 20px;
    }
    .production-partners-clients-part1-image{
        height: 100%;
    }
    .copyright {
        
        font-size: 18px;

    }
    .footer-sandra li {
        list-style: none;
        font-size: 19px;
        padding-bottom: 10px;
    }
    .magazine-content{
        display: none;
    }
   


}